body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
  transition: 0.3s;
}

.container {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 350px;
}

#time {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

.buttons button {
  margin: 5px;
}

button:hover {
  opacity: 0.9;
}
.dark {
  background: #121212;
  color: #ffffff;
}

.dark .container {
  background: #1f1f1f;
}
